* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  max-width: 600px;
  margin: 1rem auto;
  border: 2px solid;
  padding: 3rem;
}

hr {
  border: 2px solid #333;
}

h4 {
  font-size: 1.1rem;
  color: #2b9c43;
  margin-bottom: 0.6rem;
}

address {
  font-style: normal;
  font-size: 1rem;
}

a {
  color: #333;
}

.header {
  margin-block: 1rem;
}

.info {
  line-height: 1.3;
}

.info section {
  margin-bottom: 1.3rem;
}

.company {
  color: rgb(28, 88, 177);
  font-weight: 500;
}

.month {
  margin-bottom: 0.5rem;
}
