* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #ddd;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
}

/* HEADER SECTION */
.header {
  border: 1px solid;
  width: 100%;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 3rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

.hero {
  margin-bottom: 3rem;
  padding: 2rem;
  text-align: center;
}

.job-title {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.hero p {
  color: #444;
}
/* HERO SECTION END */

/* MAIN SECTION */
.projects {
  margin: 0;
  padding: 0;
}

.container-middle {
  display: flex;
  justify-content: center;
  height: 100%;
  border: 1px solid;
}

.projects-container {
  border-right: 1px solid;
  width: 50%;
}

.projects-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px;
  margin-bottom: 0.5rem;
}

.projects-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projects-links li {
  list-style: none;
  border-bottom: 1px solid;
  padding-bottom: 0.6rem;
}

.projects-links li:last-child {
  border: none;
}

.projects-links li a {
  text-decoration: none;
  color: #000;
  width: 100%;
  padding: 0 15px;
  white-space: nowrap;
}

.work-container {
  border-right: 1px solid;
  width: 80%;
}

.work-exp {
  border-bottom: 1px solid;
  padding: 15px 15px 25px 15px;
}

.work-title {
  padding-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.work-exp a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-style: italic;
}

.work-exp a:last-child {
  font-style: normal;
  color: #407ef1;
}

.work-exp p {
  padding-block: 7px;
}

.open-work {
  padding: 15px 15px 25px 15px;
}

.open-work p {
  padding-block: 7px;
}

.open-work-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.open-work a {
  text-decoration: none;
  color: #407ef1;
  font-weight: 600;
}

.edu-title {
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.edu-container > p {
  padding-inline: 15px;
}

.courses > p {
  padding: 15px;
}

.courses li {
  list-style: "- ";
  list-style-position: inside;
  padding-inline: 15px;
}

.courses li:last-child {
  padding-bottom: 15px;
}

#article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-title {
  padding: 35px;
  font-size: 1.2rem;
  font-weight: 600;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px 15px 35px;
}

.review-card {
  border: 1px solid;
  margin: 15px;
  padding: 18px;
  border-radius: 30px;
}

.review-card p:first-child {
  margin-bottom: 10px;
}

.name {
  color: #868686;
}
/* MAIN SECTION END */

/* FOOTER */
.footer {
  text-align: center;
  padding: 50px;
  font-weight: 700;
}
/* FOOTER END */
